body, h1 {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 13px 10px;
}

.button-container {
  background: #e3f4ff;  
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px ;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0 auto; 
  display: block;
  padding: 10px 25px;
}